.badge {
  width: 70px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
}

.vehicle-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.margin-top-50 {
  margin-top: 50px;
}
.padding-20 {
  padding: 0 20px;
}

.margin-top-15 {
  margin-top: 15px;
}
